{
    "objects": [
        [
            {
                "chunk-size": 1024,
                "count": -1,
                "filename": "$SPL_BINARY",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 1,
                "skip": 0,
                "target": "/dev/mtdblock1",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 1024,
                "count": -1,
                "filename": "$UBOOT_BINARY",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 64,
                "skip": 0,
                "target": "/dev/mtdblock1",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "boot.scr-$MACHINE",
                "filesystem": "ubifs",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "ubi0:boot",
                "target-path": "/boot.scr",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.ubifs",
                "mode": "ubifs",
                "target": "system_a",
                "target-type": "ubivolume"
            }
        ],
        [
            {
                "chunk-size": 1024,
                "count": -1,
                "filename": "$SPL_BINARY",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 1,
                "skip": 0,
                "target": "/dev/mtdblock1",
                "target-type": "device",
                "truncate": false
            },
            {
                "chunk-size": 1024,
                "count": -1,
                "filename": "$UBOOT_BINARY",
                "install-condition": "version-diverges",
                "install-condition-pattern-type": "u-boot",
                "mode": "raw",
                "seek": 64,
                "skip": 0,
                "target": "/dev/mtdblock1",
                "target-type": "device",
                "truncate": false
            },
            {
                "filename": "boot.scr-$MACHINE",
                "filesystem": "ubifs",
                "format?": false,
                "install-condition": "content-diverges",
                "mode": "copy",
                "target": "ubi0:boot",
                "target-path": "/boot.scr",
                "target-type": "device"
            },
            {
                "filename": "$IMAGE_BASENAME-$MACHINE.ubifs",
                "mode": "ubifs",
                "target": "system_b",
                "target-type": "ubivolume"
            }
        ]
    ],
    "product": "",
    "supported-hardware": [
        "$MACHINE"
    ],
    "version": null
}
